{:dependencies [[pez/cljfmt "0.0.3-SNAPSHOT"]
                #_[zprint "0.4.11"]
                [cider/cider-nrepl "0.19.0-SNAPSHOT"]
                [binaryage/oops "0.6.4"]]

 :source-paths ["src" "test"]

 :builds       {:calva-lib
                {:target    :npm-module
                 :runtime   :node
                 :entries   [calva.fmt.formatter
                             calva.fmt.inferer
                             calva.js-utils
                             calva.repl.client
                             calva.repl.message
                             calva.greet
                             calva.main]
                 :output-dir "packages/lib"
                 :compiler-options {}} ;; :optimizations :simple does not work, currently
                :test
                {:target    :node-test
                 :output-to "test-out/tests.js"
                 :ns-regexp "-test$"
                 :autorun   true}}}